<!-- <div class="row">
    <div class="col-2">
        <img src={{movie.image}} alt="" height="200" width="150">
    </div>
    <div class="col">
        Name:{{movie.name}} <br> Release Date:{{movie.release}}<br> Rating:{{movie.rating}}
        <br> No. of reviews:{{movie.reviews}} <br>

    </div>
</div>
<hr> -->
<div class="row">
    <div class="col-2">
        <img src={{song.image}} alt="" height="200" width="150">
    </div>
    <div class="col">
        Name:{{song.name}} <br> Arrtist:{{song.artist}}

    </div>
</div>
<hr>